@model Guid

<!-- START: PAGE CONTENT -->			
<div class="row animate-up">
    <div class="col-sm-8">
        <main class="post-single">
            <article class="post-content section-box">							
                <div class="post-inner">
                    <header class="post-header">
                        <div class="post-data">
                            <div class="post-tag">
                                <a href="">#Photo</a>
                                <a href="">#Architect</a>
                            </div>

                            <div class="post-title-wrap">
                                <h1 class="post-title">The History and Future of Motorcycles @Model</h1>
                                <time class="post-datetime" datetime="2015-03-13T07:44:01+00:00">
                                    <span class="day">03</span>
                                    <span class="month">MAY</span>
                                </time>
                            </div>

                            <div class="post-info">
                                <a href=""><i class="rsicon rsicon-user"></i>by admin</a>
                                <a href=""><i class="rsicon rsicon-comments"></i>56</a>
                            </div>
                        </div>
                    </header>

                    <div class="post-editor clearfix">
                        <p>Hello! The Sky People have sent us a message... that they can take whatever they
                            want.<br/>
                            That no one can stop them. </p>

                        <p>Well, we will send them a message. You ride out as fast as the wind can carry you. You
                            tell
                            the other clans to come. Tell them Toruk Macto calls to them! You fly now, with me! My
                            brothers! Sisters! And we will show the Sky People... that they caWell, we will send
                            them a
                            message. You ride out as fast as the wind can carry you. You tell the other clans to
                            come.
                            Tell them Toruk Macto calls to them! You fly now, with me! My brothers! Sisters! And we
                            will
                            show the Sky People... that they cnnot take whatever they want! And that this... this is
                            our
                            land!</p>
                        <blockquote>
                            <p>"My commute is extremely short. Just 20 steps across the apartment to my office
                                overlooking Butler St. Sometimes when I'm feeling fancy, I'll walk 2 blocks down the
                                street for coffee first. Either way, it's very convenient."<br>
                                <cite><a href="">John Doe</a> - Someone famous in Source Title</cite>
                            </p>
                        </blockquote>

                        <figure id="attachment_905" style="width: 509px;" class="wp-caption alignright">
                            <img class="size-full wp-image-905 " title="Image Alignment 509x319"
                                    alt="Image Alignment 509x319" src="img/uploads/rs-thumb-509x319.jpg" width="509"
                                    height="319">
                            <figcaption class="wp-caption-text">Feels good to be right all the time.</figcaption>
                        </figure>

                        <p>You ride out as fast as the wind can carry you. You tell the other clans to come. Tell
                            them
                            Toruk Macto calls to them! You fly now, with me! My brothers! Sisters! And we will show
                            the
                            Sky People... that they caWell, we will send them a message. You ride out as fast as the
                            wind can carry you. You tell the other clans to come.


                        </p>

                        <h2>Tell them Toruk Macto calls to them!</h2>

                        <ul>
                            <li>You fly now, with me;</li>
                            <li>My brothers! Sisters;</li>
                            <li>And we will show the Sky People.;</li>
                            <li>That they cnnot take whatever they want.</li>
                        </ul>

                        <p>You ride out as fast as the wind can carry you. You tell the other clans to come. Tell
                            them
                            Toruk Macto calls to them! You fly now, with me! My brothers! Sisters! And we will show
                            the
                            Sky People... that they caWell, we will send them a message. You ride out as fast as the
                            wind can carry you. You tell the other clans to come. </p>
                    </div>

                    <footer class="post-footer">
                        <div class="post-share">
                            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-503b5cbf65c3f4d8" async="async"></script>
                            <div class="addthis_sharing_toolbox"></div>
                        </div>
                    </footer>
                </div><!-- .post-inner -->
            </article><!-- .post-content -->

            <nav class="post-pagination section-box">
                <div class="post-next">
                    <div class="post-tag">Previous Article <a href="">#Tagapple</a></div>
                    <h3 class="post-title"><a href="">How ipsum project web dolor sit amet</a></h3>

                    <div class="post-info">
                        <a href=""><i class="rsicon rsicon-user"></i>by admin</a>
                        <a href=""><i class="rsicon rsicon-comments"></i>56</a>
                    </div>
                </div>
                <div class="post-prev">
                    <div class="post-tag">Next Article <a href="">#Photography</a></div>
                    <h3 class="post-title"><a href="">project web dolor sit amet</a></h3>

                    <div class="post-info">
                        <a href=""><i class="rsicon rsicon-user"></i>by admin</a>
                        <a href=""><i class="rsicon rsicon-comments"></i>56</a>
                    </div>
                </div>
            </nav><!-- .post-pagination -->

            <div class="post-comments">
                <h2 class="section-title">Comments (59)</h2>
                
                <div class="section-box">
                    <ol class="comment-list">
                        <li class="comment">
                            <article class="comment-body">
                                <div class="comment-avatar">
                                    <img src="img/rs-avatar-64x64.jpg" alt="avatar"/>
                                </div>
                                <div class="comment-content">
                                    <div class="comment-meta">
                                        <span class="name">Jane Doe</span>
                                        <time class="date" datetime="2015-03-20T13:00:14+00:00">March 20, 2015 at 1:00 pm</time>
                                        <a class="reply-link" href="#comment-reply">Reply</a>
                                    </div>
                                    <div class="comment-message">
                                        <p>Lorem ipsum dolor sit aum nulla quis nesciunt ipsa aliquam aliquid eum, voluptatibus
                                            assumenda minima vel. Eaque, velit architecto error ducimus aliquid.</p>
                                    </div>
                                </div>
                            </article>

                            <ol>
                                <li class="comment">
                                    <article class="comment-body">
                                        <img class="comment-avatar" src="img/rs-avatar-64x64.jpg" alt="avatar"/>
                                        <div class="comment-content">
                                            <div class="comment-meta">
                                                <span class="name">Jane Doe</span>
                                                <time class="date" datetime="2015-03-20T13:00:14+00:00">March 20, 2015 at 1:00 pm</time>
                                                <a class="reply-link" href="#comment-reply">Reply</a>
                                            </div>
                                            <div class="comment-message">
                                                <p>Lorem ipsum dolor sit aum nulla quis nesciunt ipsa aliquam aliquid eum, voluptatibus
                                                    assumenda minima vel. Eaque, velit architecto error ducimus aliquid.</p>
                                            </div>
                                        </div>
                                    </article>

                                    <ol>
                                        <li class="comment">
                                            <article class="comment-body">
                                                <img class="comment-avatar" src="img/rs-avatar-64x64.jpg" alt="avatar"/>
                                                <div class="comment-content">
                                                    <div class="comment-meta">
                                                        <span class="name">Jane Doe</span>
                                                        <time class="date" datetime="2015-03-20T13:00:14+00:00">March 20, 2015 at 1:00 pm</time>
                                                        <a class="reply-link" href="#comment-reply">Reply</a>
                                                    </div>
                                                    <div class="comment-message">
                                                        <p>Lorem ipsum dolor sit aum nulla quis nesciunt ipsa aliquam aliquid eum, voluptatibus
                                                            assumenda minima vel. Eaque, velit architecto error ducimus aliquid.</p>
                                                    </div>
                                                </div>
                                            </article>
                                        </li><!-- .comment (level 3) -->
                                    </ol><!-- .comment-list (level 3) -->
                                </li><!-- .comment (level 2) -->
                            </ol><!-- .comment-list (level 2) -->
                        </li><!-- .comment -->

                        <li class="comment">
                            <article class="comment-body">
                                <img class="comment-avatar" src="img/rs-avatar-64x64.jpg" alt="avatar"/>
                                <div class="comment-content">
                                    <div class="comment-meta">
                                        <span class="name">Jane Doe</span>
                                        <time class="date" datetime="2015-03-20T13:00:14+00:00">March 20, 2015 at 1:00 pm</time>
                                        <a class="reply-link" href="#comment-reply">Reply</a>
                                    </div>
                                    <div class="comment-message">
                                        <p>Lorem ipsum dolor sit aum nulla quis nesciunt ipsa aliquam aliquid eum, voluptatibus
                                            assumenda minima vel. Eaque, velit architecto error ducimus aliquid.</p>
                                    </div>
                                </div>
                            </article>
                        </li><!-- .comment -->
                    </ol><!-- .comment-list -->

                    <div id="comment-reply" class="comment-reply">
                        <form>
                            <div class="input-field">
                                <input type="text" name="rs-comment-name"/>
                                <span class="line"></span>
                                <label>Name *</label>
                            </div>

                            <div class="input-field">
                                <input type="email" name="rs-comment-email"/>
                                <span class="line"></span>
                                <label>Email *</label>
                            </div>

                            <div class="input-field">
                                <input type="text" name="rs-comment-website"/>
                                <span class="line"></span>
                                <label>Website</label>
                            </div>

                            <div class="input-field">
                                <textarea rows="4" name="rs-comment-message"></textarea>
                                <span class="line"></span>
                                <label>Type Comment Here *</label>
                            </div>

                            <div class="text-right">
                                <span class="btn-outer btn-primary-outer ripple">
                                    <input class="btn btn-lg btn-primary" type="button" value="Leave Comment">
                                </span>
                            </div>
                        </form>
                    </div><!-- .comment-reply -->
                </div><!-- .section-box -->
            </div><!-- .post-comments -->
        </main>
        <!-- .post-single -->
    </div>

    <div class="col-sm-4">
        <div class="sidebar sidebar-default">
            <div class="widget-area">
                <aside class="widget widget-profile">
                    <div class="profile-photo">
                        <img src="img/uploads/rs-photo-v2.jpg" alt="Robert Smith"/>
                    </div>
                    <div class="profile-info">
                        <h2 class="profile-title">Robert Smith</h2>
                        <h3 class="profile-position">Developer and businessman</h3>
                    </div>
                </aside><!-- .widget-profile -->

                <aside class="widget widget_search">
                    <h2 class="widget-title">Search</h2>
                    <form class="search-form">
                        <label class="ripple">
                            <span class="screen-reader-text">Search for:</span>
                            <input class="search-field" type="search" placeholder="Search">
                        </label>
                        <input type="submit" class="search-submit" value="Search">
                    </form>
                </aside><!-- .widget_search -->

                <aside class="widget widget_contact">
                    <h2 class="widget-title">Contact Me</h2>
                    <form class="rsForm" action="php/mailsender.php" method="post">
                        <div class="input-field">
                            <label>Name</label>
                            <input type="text" name="rsName" value="">
                            <span class="line"></span>                            
                        </div>

                        <div class="input-field">
                            <label>Email</label>
                            <input type="email" name="rsEmail" value="">
                            <span class="line"></span>                            
                        </div>

                        <div class="input-field">
                            <label>Subject</label>
                            <input type="text" name="rsSubject" value="">
                            <span class="line"></span>                            
                        </div>

                        <div class="input-field">
                            <label>Message</label>
                            <textarea rows="4" name="rsMessage"></textarea>
                            <span class="line"></span>                            
                        </div>

                        <span class="btn-outer btn-primary-outer ripple">
                            <input class="rsFormSubmit btn btn-lg btn-primary" type="submit" value="Send">
                        </span>                        
                    </form>
                </aside><!-- .widget_contact -->

                <aside class="widget widget-popuplar-posts">
                    <h2 class="widget-title">Popular posts</h2>
                    <ul>
                        <li>
                            <div class="post-media"><a href=""><img src="img/uploads/thumb-78x56-1.jpg" alt=""/></a></div>
                            <h3 class="post-title"><a href="">Standard Post Format With Featured Image</a></h3>
                            <div class="post-info"><a href=""><i class="rsicon rsicon-comments"></i>56 comments</a></div>
                        </li>
                        <li>
                            <div class="post-media"><a href=""><img src="img/uploads/thumb-78x56-2.jpg" alt=""/></a></div>
                            <h3 class="post-title"><a href="">Standard Post Format With Featured Image</a></h3>
                            <div class="post-info"><a href=""><i class="rsicon rsicon-comments"></i>56 comments</a></div>
                        </li>
                        <li>
                            <div class="post-media"><a href=""><img src="img/uploads/thumb-78x56-3.jpg" alt=""/></a></div>
                            <h3 class="post-title"><a href="">Standard Post Format With Featured Image</a></h3>
                            <div class="post-info"><a href=""><i class="rsicon rsicon-comments"></i>56 comments</a></div>
                        </li>
                    </ul>
                </aside><!-- .widget-popuplar-posts -->

                <aside class="widget widget_tag_cloud">
                    <h2 class="widget-title">Tag Cloud</h2>
                    <div class="tagcloud">
                        <a href="" title="1 topic">Business</a>
                        <a href="" title="9 topics">City</a>
                        <a href="" title="10 topics">Creative</a>
                        <a href="" title="6 topics">Fashion</a>
                        <a href="" title="2 topics">Music</a>
                        <a href="" title="5 topics">News</a>
                        <a href="" title="9 topics">Peoples</a>
                    </div>
                </aside><!-- .widget_tag_cloud -->

                <aside class="widget widget-recent-posts">
                    <h2 class="widget-title">Recent posts</h2>
                    <ul>
                        <li>
                            <div class="post-tag">
                                <a href="">#Photo</a>
                                <a href="">#Architect</a>
                            </div>
                            <h3 class="post-title"><a href="">Standard Post Format With Featured Image</a></h3>
                            <div class="post-info"><a href=""><i class="rsicon rsicon-comments"></i>56 comments</a></div>
                        </li>
                        <li>
                            <div class="post-tag">
                                <a href="">#Photo</a>
                                <a href="">#Architect</a>
                            </div>
                            <h3 class="post-title"><a href="">Standard Post Format With Featured Image</a></h3>
                            <div class="post-info"><a href=""><i class="rsicon rsicon-comments"></i>56 comments</a></div>
                        </li>
                        <li>
                            <div class="post-tag">
                                <a href="">#Photo</a>
                                <a href="">#Architect</a>
                            </div>
                            <h3 class="post-title"><a href="">Standard Post Format With Featured Image</a></h3>
                            <div class="post-info"><a href=""><i class="rsicon rsicon-comments"></i>56 comments</a></div>
                        </li>
                    </ul>
                </aside><!-- .widget-recent-posts -->

                <aside class="widget widget_categories">
                    <h2 class="widget-title">Categories</h2>
                    <ul>
                        <li><a href="" title="Architecture Category Posts">Architecture</a> (9)</li>
                        <li><a href="" title="Business Category Posts">Business</a> (16)</li>
                        <li><a href="" title="Creative Category Posts">Creative</a> (18)</li>
                        <li><a href="" title="Design Category Posts">Design</a> (10)</li>
                        <li><a href="" title="Development Category Posts">Development</a> (14)</li>
                        <li><a href="" title="Education Category Posts">Education</a> (9)</li>
                    </ul>
                </aside><!-- .widget_categories -->
            </div><!-- .widget-area -->
        </div><!-- .sidebar -->
    </div><!-- .col-sm-4 -->
</div><!-- .row -->			
<!-- END: PAGE CONTENT -->