<!-- START: PAGE CONTENT -->
<section id="about" class="section section-about">
    <div class="animate-up">
        <div class="section-box">
            <div class="profile">
                <div class="row">
                    <div class="col-xs-5">
                        <div class="profile-photo"><img src="img/uploads/rs-photo-v1.jpg" alt="Robert Smith" /></div>
                    </div>
                    <div class="col-xs-7">
                        <div class="profile-info">
                            <div class="profile-preword"><span>Hello</span></div>
                            <h1 class="profile-title"><span>I'm</span> Kağan Kuşcu</h1>

                            <h2 class="profile-position">Developer and businessman</h2>
                        </div>
                        <ul class="profile-list">
                            <li class="clearfix">
                                <strong class="title">Age</strong>
                                <span class="cont">29</span>
                            </li>
                            <li class="clearfix">
                                <strong class="title">Address</strong>
                                <span class="cont">24058, Belgium, Brussels, Liutte 27, BE</span>
                            </li>
                            <li class="clearfix">
                                <strong class="title">E-mail</strong>
                                <span class="cont"><a href="mailto:robertsmith@company.com">robertsmith@company.com</a></span>
                            </li>
                            <li class="clearfix">
                                <strong class="title">Phone</strong>
                                <span class="cont"><a href="tel:+12562548456">+1 256 254 84 56</a></span>
                            </li>
                            <li class="clearfix">
                                <strong class="title">Freelance</strong>
                                <span class="cont">till April 15, 2016</span>
                            </li>
                            <li class="clearfix">
                                <strong class="title"><span class="button">On Vacation</span></strong>
                                <span class="cont"><i class="rsicon rsicon-calendar"></i>till March 25, 2016</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="profile-social">
                <ul class="social">
                    <li>
                        <a class="ripple-centered" href="https://www.facebook.com" target="_blank">
                            <i class="rsicon rsicon-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a class="ripple-centered" href="https://twitter.com" target="_blank">
                            <i class="rsicon rsicon-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a class="ripple-centered" href="https://www.linkedin.com" target="_blank">
                            <i class="rsicon rsicon-linkedin"></i>
                        </a>
                    </li>
                    <li>
                        <a class="ripple-centered" href="https://www.instagram.com" target="_blank">
                            <i class="rsicon rsicon-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="section-txt-btn">
            <p>
                <a class="btn btn-lg btn-border ripple" target="_blank"
                   href="http://dev.novembit.com/rs_card/wp-content/uploads/2015/11/test-1.pdf">Download Resume</a>
            </p>

            <p>
                Hello! I'm Robert Smith. Senior Web Developer specializing in front end development. Experienced with all
                stages of the development cycle for dynamic web projects. Well-versed in numerous programming languages
                including JavaScript, SQL, and C. Stng background in project management and customer relations.
            </p>
        </div>
    </div>
</section>
<!-- #about -->

<section id="skills" class="section section-skills">
    <div class="animate-up">
        <h2 class="section-title">Professional Skills</h2>

        <div class="section-box">
            <div class="row">
                <div class="col-sm-6">
                    <div class="progress-bar">
                        <div class="bar-data">
                            <span class="bar-title">Wordpress</span>
                            <span class="bar-value">80%</span>
                        </div>
                        <div class="bar-line">
                            <span class="bar-fill" data-width="51%"></span>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="progress-bar">
                        <div class="bar-data">
                            <span class="bar-title">JavaScript</span>
                            <span class="bar-value">52%</span>
                        </div>
                        <div class="bar-line">
                            <span class="bar-fill" data-width="67%"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="progress-bar">
                        <div class="bar-data">
                            <span class="bar-title">Drupal</span>
                            <span class="bar-value">61%</span>
                        </div>
                        <div class="bar-line">
                            <span class="bar-fill" data-width="79%"></span>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="progress-bar">
                        <div class="bar-data">
                            <span class="bar-title">HTML & CSS</span>
                            <span class="bar-value">89%</span>
                        </div>
                        <div class="bar-line">
                            <span class="bar-fill" data-width="67%"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="progress-bar">
                        <div class="bar-data">
                            <span class="bar-title">PHP & MySQL</span>
                            <span class="bar-value">99%</span>
                        </div>
                        <div class="bar-line">
                            <span class="bar-fill" data-width="54%"></span>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="progress-bar">
                        <div class="bar-data">
                            <span class="bar-title">Photoshop</span>
                            <span class="bar-value">97%</span>
                        </div>
                        <div class="bar-line">
                            <span class="bar-fill" data-width="80%"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- #skills -->

<section id="experience" class="section section-experience">
    <div class="animate-up">
        <h2 class="section-title">Work Experience</h2>

        <div class="timeline">
            <div class="timeline-bar"></div>
            <div class="timeline-inner clearfix">
                <div class="timeline-box timeline-box-left">
                    <span class="dot"></span>

                    <div class="timeline-box-inner animate-right">
                        <span class="arrow"></span>

                        <div class="date">2014 - 2016</div>
                        <h3>PINEAPPLE</h3>
                        <h4>Full Stack developer</h4>

                        <p>
                            Worked as part of a multi-disciplinary team, carrying out ad-hoc tasks as requested by the IT
                            Manager. Had a specific brief to ensure the websites build for customer’s precisely matched
                            their requirements.developers and marketers.
                        </p>
                    </div>
                </div>

                <div class="timeline-box timeline-box-right">
                    <span class="dot"></span>

                    <div class="timeline-box-inner animate-left">
                        <span class="arrow"></span>

                        <div class="date">2011 - 2014</div>
                        <h3>MACROSOOFT</h3>
                        <h4>Web Developer</h4>

                        <p>
                            I was responsible for working on a range of projects, designing appealing websites and
                            interacting on a daily basis with graphic designers, back-end developers and marketers.
                        </p>
                    </div>
                </div>

                <div class="timeline-box timeline-box-left">
                    <span class="dot"></span>

                    <div class="timeline-box-inner animate-right">
                        <span class="arrow"></span>

                        <div class="date">2003 - 2006</div>
                        <h3>JOOJLE</h3>
                        <h4>Systems Analyst / Web Developer</h4>

                        <p>
                            Rebuilt and enhanced existing ASP B2C site with ASP.NET 2.0 Framework and tools. Technology
                            consists of ASP.NET 2.0 (C#), IIS, Microsoft SQL Server 2005, Stored Procedures & PayPal
                            Instant Payment Notification.
                        </p>
                    </div>
                </div>

                <div class="timeline-box timeline-box-right">
                    <span class="dot"></span>

                    <div class="timeline-box-inner animate-left">
                        <span class="arrow"></span>

                        <div class="date">2004 - 2008</div>
                        <h3>IBBBM</h3>
                        <h4>Webmaster / Web Developer</h4>

                        <p>
                            Developed, managed, operated and promoted an Internet business.Handled customer support
                            issues.Planned and managed business finances.
                        </p>
                    </div>
                </div>

                <div class="timeline-box timeline-box-left">
                    <span class="dot"></span>

                    <div class="timeline-box-inner animate-right">
                        <span class="arrow"></span>

                        <div class="date">2003 - 2004</div>
                        <h3>HEADBOOK</h3>
                        <h4>Intern</h4>

                        <p>
                            This was beginning of my career. Developed, managed, operated and promoted an Internet
                            business.Handled customer support issues.
                        </p>
                    </div>
                </div>

                <div class="timeline-box timeline-box-right">
                    <span class="dot"></span>

                    <div class="timeline-box-inner animate-left">
                        <span class="arrow"></span>

                        <div class="date">2000 - 2003</div>
                        <h3>UBEAR</h3>
                        <h4>Taxi Driver</h4>

                        <p>
                            Driving from point A to point B and if necessary to point C and sometimes even to point R and
                            point S. I was known as experienced driver. Once my passenger who was a web developer told
                            me about his job and I have made my decision at that moment to became a developer.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- #experience -->

<section id="education" class="section section-education">
    <div class="animate-up">
        <h2 class="section-title">Education</h2>

        <div class="timeline">
            <div class="timeline-bar"></div>
            <div class="timeline-inner clearfix">

                <div class="timeline-box timeline-box-compact timeline-box-left">
                    <span class="dot"></span>

                    <div class="timeline-box-inner animate-right">
                        <span class="arrow"></span>

                        <div class="date"><span>2012 - 2014</span></div>
                        <h3>Master of Information Technology</h3>
                        <h4>MIT&T</h4>
                    </div>
                </div>

                <div class="timeline-box timeline-box-compact timeline-box-right">
                    <span class="dot"></span>

                    <div class="timeline-box-inner animate-left">
                        <span class="arrow"></span>

                        <div class="date"><span>2008 - 2012</span></div>
                        <h3>Bachelor Computer Engineering</h3>
                        <h4>Harwarg Universitey</h4>
                    </div>
                </div>

                <div class="timeline-box timeline-box-compact timeline-box-left">
                    <span class="dot"></span>

                    <div class="timeline-box-inner animate-right">
                        <span class="arrow"></span>

                        <div class="date"><span>2007 - 2008</span></div>
                        <h3>Certificate for courses of Computer Science</h3>
                        <h4>Stanfoorb Universitey</h4>
                    </div>
                </div>

                <div class="timeline-box timeline-box-compact timeline-box-right">
                    <span class="dot"></span>

                    <div class="timeline-box-inner animate-left">
                        <span class="arrow"></span>

                        <div class="date"><span>2007 - 2008</span></div>
                        <h3>1 week Courses of Information Systems</h3>
                        <h4>Oxforz Universitey</h4>
                    </div>
                </div>

                <div class="timeline-box timeline-box-compact timeline-box-left">
                    <span class="dot"></span>

                    <div class="timeline-box-inner animate-right">
                        <span class="arrow"></span>

                        <div class="date"><span>2006 - 2007</span></div>
                        <h3>Software Engineering</h3>
                        <h4>Sordonne University</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- #education -->

<section id="references" class="section section-references">
    <div class="animate-up">
        <h2 class="section-title">References</h2>

        <div class="section-box">
            <ul class="ref-slider">
                <li>
                    <div class="ref-box">
                        <div class="person-speech">
                            <p>
                                I confirm that I have dealt with New Company Ltd since 1998. Their work has been a major
                                factor in our
                                website's success, helping it to become one of the most visited resources of its kind on
                                the Internet.
                            </p>
                        </div>
                        <div class="person-info clearfix">
                            <img class="person-img" src="img/uploads/rs-avatar-60x60.jpg" alt="Headshot">

                            <div class="person-name-title">
                                <span class="person-name">Alexander Jokovich</span>
                                <span class="person-title">Modern LLC , HR</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="ref-box">
                        <div class="person-speech">
                            <p>
                                I confirm that New Company Ltd has been a customer of ours since 1998, during which time
                                they have always made payments reliably,
                                in full and on time.
                            </p>
                        </div>
                        <div class="person-info clearfix">
                            <img class="person-img" src="img/uploads/rs-avatar-60x60.jpg" alt="Headshot">

                            <div class="person-name-title">
                                <span class="person-name">Alexander Jokovich</span>
                                <span class="person-title">Modern LLC , HR</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="ref-box">
                        <div class="person-speech">
                            <p>
                                I have known Robert Smith for 10 years as web developer. I can confirm that he is a man
                                of great integrity, is extremely dedicated
                                to his family and work, and is entirely peace-loving.
                            </p>
                        </div>
                        <div class="person-info clearfix">
                            <img class="person-img" src="img/uploads/rs-avatar-60x60.jpg" alt="Headshot">

                            <div class="person-name-title">
                                <span class="person-name">Alexander Jokovich</span>
                                <span class="person-title">Modern LLC , HR</span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="ref-slider-nav">
                <span id="ref-slider-prev" class="slider-prev"></span>
                <span id="ref-slider-next" class="slider-next"></span>
            </div>
        </div>
    </div>
</section>
<!-- #references -->

<section id="blog" class="section section-blog">
    <div class="animate-up">
        <h2 class="section-title">From The Blog</h2>

        <div class="blog-grid">
            <div class="grid-sizer"></div>
            <div class="grid-item">
                <article class="post-box">
                    <div class="post-media">
                        <div class="post-image">
                            <a href="single.html"><img src="img/uploads/thumb-449x286-1.jpg" alt=""> </a>
                        </div>
                    </div>

                    <div class="post-data">
                        <time class="post-datetime" datetime="2015-03-13T07:44:01+00:00">
                            <span class="day">03</span>
                            <span class="month">MAY</span>
                        </time>

                        <div class="post-tag">
                            <a href="">#Photo</a>
                            <a href="">#Architect</a>
                        </div>

                        <h3 class="post-title">
                            <a href="single-image.html">Image Post</a>
                        </h3>

                        <div class="post-info">
                            <a href=""><i class="rsicon rsicon-user"></i>by admin</a>
                            <a href=""><i class="rsicon rsicon-comments"></i>56</a>
                        </div>
                    </div>
                </article>
            </div>

            <div class="grid-item">
                <article class="post-box">
                    <div class="post-media">
                        <div class="post-image">
                            <a href="single-vimeo.html">
                                <img src="img/uploads/thumb-449x286-5.jpg" alt="">
                                <span class="post-type-icon"><i class="rsicon rsicon-play"></i></span>
                            </a>
                        </div>
                    </div>

                    <div class="post-data">
                        <time class="post-datetime" datetime="2015-03-13T07:44:01+00:00">
                            <span class="day">03</span>
                            <span class="month">MAY</span>
                        </time>

                        <div class="post-tag">
                            <a href="">#Photo</a>
                            <a href="">#Architect</a>
                        </div>

                        <h3 class="post-title">
                            <a href="single-vimeo.html">Vimeo Video Post</a>
                        </h3>

                        <div class="post-info">
                            <a href=""><i class="rsicon rsicon-user"></i>by admin</a>
                            <a href=""><i class="rsicon rsicon-comments"></i>56</a>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
<!-- #blog -->

<section id="text-section" class="section section-text">
    <div class="animate-up animated">
        <h2 class="section-title">Text Section</h2>

        <div class="section-box">
            <p>
                Hello! I’m Robert Smith and this is custom editor section. You can add here any text or "Strikethrough"
                text and even you can add bulleted or numbered text and even you will be able to add blockquot text. You
                can align this text to left/right/center.

                One of the most interesting options is to divide this section to "One half" "One Third" and "One
                Fourth".

                You can use this for Honors or Achievments or Awards sections. You can insert images and photos right in
                this editor!
            </p>
        </div>
    </div>
</section>
<!-- #text-section -->

<section id="interests" class="section section-interests">
    <div class="animate-up">
        <h2 class="section-title">My Interests</h2>

        <div class="section-box">
            <p>
                I have a keen interest in photography. I was vice-president of the photography club during my time at
                university,
                and during this period I organised a number of very successful exhibitions and events both on and off
                campus.
                <br />I also play the piano to grade 8 standard.
            </p>

            <ul class="interests-list">
                <li>
                    <i class="map-icon map-icon-bicycling"></i>
                    <span>Bicycling</span>
                </li>
                <li>
                    <i class="map-icon map-icon-movie-theater"></i>
                    <span>Watch Movies</span>
                </li>
                <li>
                    <i class="map-icon map-icon-ice-skating"></i>
                    <span>Skating</span>
                </li>
                <li>
                    <i class="map-icon map-icon-shopping-mall"></i>
                    <span>Shopping</span>
                </li>
                <li>
                    <i class="map-icon map-icon-tennis"></i>
                    <span>Playing Tennis</span>
                </li>
                <li>
                    <i class="map-icon map-icon-bowling-alley"></i>
                    <span>Playing Bowling</span>
                </li>
                <li>
                    <i class="map-icon map-icon-swimming"></i>
                    <span>Swimming</span>
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- #interests -->

<section id="contact" class="section section-contact">
    <div class="animate-up">
        <h2 class="section-title">Contact Me</h2>

        <div class="row">
            <div class="col-sm-12">
                <div class="section-box contact-form">
                    <h3>Feel free to contact me</h3>

                    <form class="rsForm" action="php/mailsender.php" method="post">
                        <div class="input-field">
                            <label>Name</label>
                            <input type="text" name="rsName" value="">
                            <span class="line"></span>
                        </div>

                        <div class="input-field">
                            <label>Email</label>
                            <input type="email" name="rsEmail" value="">
                            <span class="line"></span>
                        </div>

                        <div class="input-field">
                            <label>Subject</label>
                            <input type="text" name="rsSubject" value="">
                            <span class="line"></span>
                        </div>

                        <div class="input-field">
                            <label>Message</label>
                            <textarea rows="4" name="rsMessage"></textarea>
                            <span class="line"></span>
                        </div>

                        <div class="check-field">
                            <input type="checkbox" name="rsPivacyPolicy" id="rsPivacyPolicy">
                            <label for="rsPivacyPolicy">I have read the Privacy Policy note.</label>
                        </div>

                        <span class="btn-outer btn-primary-outer ripple">
                            <input class="rsFormSubmit btn btn-lg btn-primary" type="submit" value="Send">
                        </span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- #contact -->
<!-- END: PAGE CONTENT -->