<link rel="stylesheet" type="text/css" href="~/output.css">
<div class='container mx-auto px-4 pt-16'>
    <h1 class='text-center mx-auto text-3xl text-white'>Our Users</h1>
    <hr class="mx-auto" />
</div>
<div id="users" class='container mx-auto px-4 pt-4 flex flex-wrap'>

</div>

@section Scripts {
    <script type="text/javascript" src="~/js/siteAsync.js"></script>
    <script>
        $(document).ready(() => {
            (async () => {
                await getAllUsers();
                await positioningTimelineElements();
            })();
        });

        async function getAllUsers() {
            const res = await $.ajax({
                type: 'GET',
                url: '/Home/GetAllUsers'
            });
            setUsers(res);
        }

        function setUsers(res) {
            res.forEach((user, index) => {
                $('#users').append(`
                    <div class='p-2 w-1-1 md:w-1-2 lg:w-1-3' onclick=navigate('${user.userName}')>
                        <div class='user-card bg-white rounded-lg p-6'>
                            <img class='h-16 w-16 mb-2 rounded-full mx-auto' src='/admin/images/users/avatar-10.jpg' />
                            <div class='text-center'>
                                <div class='user-name text-lg font-bold text-black'>${user.userName}</div>
                                <div class='user-title text-purple-500'>${user.title}</div>
                                <div class='user-phone font-light text-gray-600'>${user.about.length >= 200 ? `${user.about.slice(0, 200)} ...` : user.about}</div>
                            </div>
                        </div>
                    </div>
                `
                );
            });
        }
        function navigate(username) {
            location.href = `/Home/Profile/${username}`;
        }
    </script>
}