<!-- START: PAGE CONTENT -->
<section id="about" class="section section-about">
    <div class="animate-up animated">
        <div class="section-box">
            <div class="profile">
                <div class="row">
                    <div class="col-xs-5">
                        <div class="profile-photo"><img id="profileImage" alt="" /></div>
                    </div>
                    <div class="col-xs-7">
                        <div class="profile-info">
                            <div class="profile-preword"><span>Hello</span></div>
                            <h1 id="fullName" class="profile-title"><span>I'm</span> </h1>

                            <h2 class="profile-position"></h2>
                        </div>
                        <ul class="profile-list">
                            <li class="clearfix">
                                <strong class="title">Age</strong>
                                <span class="cont" id="age"></span>
                            </li>
                            <li class="clearfix">
                                <strong class="title">Address</strong>
                                <span class="cont" id="address"></span>
                            </li>
                            <li class="clearfix">
                                <strong class="title">E-mail</strong>
                                <span class="cont"><a id="email"></a></span>
                            </li>
                            <li class="clearfix">
                                <strong class="title">Phone</strong>
                                <span class="cont"><a id="phone"></a></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="profile-social">
                <ul id="social" class="social">
                </ul>
            </div>
        </div>

        <div class="section-txt-btn">
            <p>
                <a class="btn btn-lg btn-border ripple" target="_blank" id="resumeFile">Download Resume</a>
            </p>
        </div>
    </div>
</section>
<!-- #about -->

<section id="skills" class="section section-skills" style="display: none;">
    <div class="animate-up">
        <h2 class="section-title">Professional Skills</h2>

        <div class="section-box" id="skillContainer">

        </div>
    </div>
</section>
<!-- #skills -->

<section id="experience" class="section section-experience">
    <div class="animate-up">
        <h2 class="section-title">Work Experience</h2>

        <div class="timeline">
            <div class="timeline-bar"></div>
            <div class="timeline-inner clearfix">
                <div class="timeline-box timeline-box-left">
                    <span class="dot"></span>

                    <div class="timeline-box-inner animate-right">
                        <span class="arrow"></span>

                        <div class="date"></div>
                        <h3></h3>
                        <h4></h4>

                        <p>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- #experience -->

<section id="education" class="section section-education" style="display: none;">
    <div class="animate-up">
        <h2 class="section-title">Education</h2>

        <div class="timeline">
            <div class="timeline-bar"></div>
            <div class="timeline-inner clearfix" id="educationTimeline">
            </div>
        </div>
    </div>
</section>
<!-- #education -->
<section id="references" class="section section-references">
    <div class="animate-up animated">
        <h2 class="section-title">References</h2>

        <div class="section-box">
            <ul class="ref-slider">
                    <li>
                        <div class="ref-box">
                            <div class="person-speech">
                            </div>
                            <div class="person-info clearfix">
                                <img class="person-img" src="" alt="Headshot">

                                <div class="person-name-title">
                                    <span class="person-name"></span>
                                    <span class="person-title"></span>
                                </div>
                            </div>
                        </div>
                    </li>
            </ul>
            <div class="ref-slider-nav">
                <span id="ref-slider-prev" class="slider-prev"></span>
                <span id="ref-slider-next" class="slider-next"></span>
            </div>
        </div>
    </div>
</section>
<!-- #references -->
<section id="blog" class="section section-blog">
    <div class="animate-up">
        <h2 class="section-title">From The Blog</h2>

        <div class="blog-grid">
            <div class="grid-sizer"></div>
                <div class="grid-item">
                    <article class="post-box">
                        <div class="post-media">
                            <div class="post-image">
                                <a><img src="" alt=""> </a>
                            </div>
                        </div>

                        <div class="post-data">
                            <time class="post-datetime" datetime="">
                                <span class="day"></span>
                                <span class="month"></span>
                            </time>

                            <div class="post-tag">
                                <a href="">#</a>
                            </div>

                            <h3 class="post-title">
                                <a></a>
                            </h3>

                            <div class="post-info">
                                <a href=""><i class="rsicon rsicon-user"></i></a>
                                <a href=""><i class="rsicon rsicon-comments"></i></a>
                            </div>
                        </div>
                    </article>
                </div>
        </div>
    </div>
</section>
<!-- #blog -->

<section id="text-section" class="section section-text">
    <div class="animate-up animated">
        <h2 class="section-title">Text Section</h2>

        <div class="section-box">
            <blockquote>
                <p style="font-size: 24px">
                    ""<br>
                    <cite style="font-size: 16px"></cite>
                </p>
            </blockquote>
        </div>
    </div>
</section>
<!-- #text-section -->

<section id="interests" class="section section-interests">
    <div class="animate-up">
        <h2 class="section-title">My Interests</h2>

        <div class="section-box">
            <ul class="interests-list">
                <li>
                    <i class=""></i>
                    <span></span>
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- #interests -->

<section id="contact" class="section section-contact">
    <div class="animate-up">
        <h2 class="section-title">Contact Me</h2>

        <div class="row">
            <div class="col-sm-12">
                <div class="section-box contact-form">
                    <h3>Feel free to contact me</h3>

                    <form class="rsForm" method="post">
                        <div class="input-field">
                            <label>Name</label>
                            <input type="text" name="rsName" value="">
                            <span class="line"></span>
                        </div>

                        <div class="input-field">
                            <label>Email</label>
                            <input type="email" name="rsEmail" value="">
                            <span class="line"></span>
                        </div>

                        <div class="input-field">
                            <label>Subject</label>
                            <input type="text" name="rsSubject" value="">
                            <span class="line"></span>
                        </div>

                        <div class="input-field">
                            <label>Message</label>
                            <textarea rows="4" name="rsMessage"></textarea>
                            <span class="line"></span>
                        </div>

                        <div class="check-field">
                            <input type="checkbox" name="rsPivacyPolicy" id="rsPivacyPolicy">
                            <label for="rsPivacyPolicy">I have read the Privacy Policy note.</label>
                        </div>

                        <span class="btn-outer btn-primary-outer ripple">
                            <input class="rsFormSubmit btn btn-lg btn-primary" type="submit" value="Send">
                        </span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- #contact -->
<!-- END: PAGE CONTENT -->

@section Scripts
{
    <script>
        $(document).ready(() => {
            console.clear();
            getResume();
        });

        async function getResume() {
          try {
            let res = await $.ajax({
              type: "GET",
              contentType: 'application/json',
              data: { username: "Kagankuscu" },
              url: "/Home/GetResume"
            });
            setAbout(res);
            setSocialMedia(res);
            setResumeDownload(res);
            setSkill(res);
            setEducation(res);
          } catch (e) {
            alert("Hata" + e.message);
            console.error(e.message);
          }
        }
        function setAbout(res) {
          $("#profileImage").prop("src", `/${res.imagePath}`);
          $("#fullName").html(`<span>I'm</span> ${res.fullName}`);
          $("#age").text(`${res.age}`);
          $("#address").text(`${res.address}`);
          $("#email").prop("href", `mailto:${res.email}`);
          $("#email").text(`${res.email}`);
          $("#phone").prop("href", `tel:${res.phone}`);
          $("#phone").text(`${res.phone}`);
        }
        function setSocialMedia(res) {
          for (let item of res.socialMedias) {
            $("#social").append(`
                <li>
                    <a class="ripple-centered" href="${item.url}" target="_blank">
                        <i class="${item.socialMediaIcon.cssClass}" style="font-size: 24px;"></i>
                    </a>
                </li>
            `);
          }
        }
        function setResumeDownload(res) {
          $("#resumeFile").prop("href", `/${res.resumePath}`);
        }
        function setSkill(res) {
          if (res.skills.length <= 0)
            return ;
          $("#skills").prop("style", "display:block");

          let row = 0;
          res.skills.forEach((skill, index) => {
            if (index % 2 === 0) {
                row++;
                $("#skillContainer").append(`<div id="skillsRow-${row}" class="row"></div>`);
            }
            $(`#skillsRow-${row}`).append(`
                <div class="col-sm-6">
                    <div class="progress-bar">
                        <div class="bar-data">
                            <span class="bar-title">${skill.name}</span>
                            <span class="bar-value">${skill.percent}%</span>
                        </div>
                        <div class="bar-line">
                            <span class="bar-fill" data-width="${skill.percent}%" style="width: ${skill.percent}%"></span>
                        </div>
                    </div>
                </div>
              `);
          });
        }
        function setEducation(res) {
          if (res.educations.length <= 0)
            return ;
          $("#education").prop("style", "display:block");
          res.educations.forEach((education, index) => {
            $('#educationTimeline').append(`
                <div class="timeline-box timeline-box-compact timeline-box-${index % 2 === 0 ? 'left' : 'right'}">
                    <span class="dot"></span>

                    <div class="timeline-box-inner animate-${index % 2 === 0 ? 'left' : 'right' }">
                        <span class="arrow"></span>

                        <div class="date">
                          <span>
                            ${education.startDate.split('-')[0]} - ${education.endDate.split('-')[0] === '0001' ? 'Present' : education.endDate.split('-')[0]}
                          </span>
                        </div>
                        <h3></h3>
                        <h4></h4>
                    </div>
                </div>
              `);
          })
        }
    </script>
}
