@using System.Security.Claims;

<!doctype html>
<html lang="en">

    <head>

        <meta charset="utf-8" />
        <title>Dashboard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
        <meta content="Themesbrand" name="author" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="~/img/favicon.png">

        <!-- Bootstrap Css -->
        <link href="~/admin/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link href="~/admin/css/icons.min.css" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="~/admin/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />

        @await RenderSectionAsync("Styles", false)
    </head>

    
    <body>

    <!-- <body data-layout="horizontal" data-topbar="colored"> -->

        <!-- Begin page -->
        <div id="layout-wrapper">

            
            <header id="page-topbar">
                <div class="navbar-header">
                    <div class="d-flex">
                        <!-- LOGO -->
                        <div class="navbar-brand-box">
                            <a href="index.html" class="logo logo-dark">
                                <span class="logo-sm">
                                    <img src="~/admin/images/logo-sm.png" alt="" height="22">
                                </span>
                                <span class="logo-lg">
                                    <img src="~/admin/images/logo-dark.png" alt="" height="20">
                                </span>
                            </a>

                            <a href="index.html" class="logo logo-light">
                                <span class="logo-sm">
                                    <img src="~/admin/images/logo-sm.png" alt="" height="22">
                                </span>
                                <span class="logo-lg">
                                    <img src="~/admin/images/logo-light.png" alt="" height="20">
                                </span>
                            </a>
                        </div>

                        <button type="button" class="btn btn-sm px-3 font-size-16 header-item waves-effect vertical-menu-btn">
                            <i class="fa fa-fw fa-bars"></i>
                        </button>

                    </div>

                    <div class="d-flex">
                        <div class="dropdown d-inline-block">
                            <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img class="rounded-circle header-profile-user" src="~/admin/images/users/avatar-10.jpg"
                                    alt="Header Avatar">

                                <span class="d-none d-xl-inline-block ms-1 fw-medium font-size-15">@(User.FindFirstValue(ClaimTypes.Name) is not null ? User.FindFirstValue(ClaimTypes.Name) : "Username")</span>
                                <i class="uil-angle-down d-none d-xl-inline-block font-size-15"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-end">
                                <!-- item-->
                                <a class="dropdown-item" href="/Admin/Profile"><i class="uil uil-user-circle font-size-18 align-middle text-muted me-1"></i> <span class="align-middle">Profil'i Görüntüle</span></a>
                                <a class="dropdown-item" href="/Home/Index"><i class="uil uil-home-alt font-size-18 align-middle me-1 text-muted"></i> <span class="align-middle">Anasayfa'ya Geri Dön</span></a>
                                <a class="dropdown-item" href="/Admin/Authentication/Lockout"><i class="uil uil-lock-alt font-size-18 align-middle me-1 text-muted"></i> <span class="align-middle">Ekranı Kilitle</span></a>
                                <a class="dropdown-item" href="/Admin/Authentication/Logout"><i class="uil uil-sign-out-alt font-size-18 align-middle me-1 text-muted"></i> <span class="align-middle">Çıkış</span></a>
                            </div>
                        </div>

                    </div>
                </div>
            </header>
            <!-- ========== Left Sidebar Start ========== -->
            <div class="vertical-menu">

                <!-- LOGO -->
                <div class="navbar-brand-box">
                    <a href="index.html" class="logo logo-dark">
                        <span class="logo-sm">
                            <img src="~/admin/images/logo-sm.png" alt="" height="22">
                        </span>
                        <span class="logo-lg">
                            <img src="~/admin/images/logo-dark.png" alt="" height="20">
                        </span>
                    </a>

                    <a href="index.html" class="logo logo-light">
                        <span class="logo-sm">
                            <img src="~/admin/images/logo-sm.png" alt="" height="22">
                        </span>
                        <span class="logo-lg">
                            <img src="~/admin/images/logo-light.png" alt="" height="20">
                        </span>
                    </a>
                </div>

                <button type="button" class="btn btn-sm px-3 font-size-16 header-item waves-effect vertical-menu-btn">
                    <i class="fa fa-fw fa-bars"></i>
                </button>

                <div data-simplebar class="sidebar-menu-scroll">

                    <!--- Sidemenu -->
                    <div id="sidebar-menu">
                        <!-- Left Menu Start -->
                        <ul class="metismenu list-unstyled" id="side-menu">
                            <li class="menu-title">Menu</li>

                            <li>
                                <a href="/Admin/Dashboard/">
                                    <i class="uil-home-alt"></i>
                                    <span>Anasayfa</span>
                                </a>
                            </li>

                            <li>
                                <a href="/Admin/Dashboard/People" class=" waves-effect">
                                    <i class="uil-users-alt"></i>
                                    <span>Kişiler</span>
                                </a>
                            </li>

                            <li>
                                <a href="/Admin/Utility/Upcoming" class=" waves-effect">
                                    <i class="uil-folder"></i>
                                    <span>Dosyalar</span>
                                </a>
                            </li>

                            <li>
                                <a href="/Admin/Dashboard/Educations" class="waves-effect">
                                    <i class="uil-book-alt"></i>
                                    <span>Eğitimler</span>
                                </a>
                            </li>

                            <li>
                                <a href="/Admin/Dashboard/Skills" class=" waves-effect">
                                    <i class="uil-lightbulb-alt"></i>
                                    <span>Yetenekler</span>
                                </a>
                            </li>

                            <li>
                                <a href="/Admin/Dashboard/WorkExperiences" class=" waves-effect">
                                    <i class="uil-suitcase"></i>
                                    <span>Çalışma Deneyimleri</span>
                                </a>
                            </li>

                            <li>
                                <a href="/Admin/Dashboard/References" class=" waves-effect">
                                    <i class="uil-comments-alt"></i>
                                    <span>Referanslar</span>
                                </a>
                            </li>

                            <li>
                                <a href="/Admin/Dashboard/SocialMedias" class=" waves-effect">
                                    <i class="uil-user-square"></i>
                                    <span>Sosyal Medyalar</span>
                                </a>
                            </li>

                            <li>
                                <a href="/Admin/Dashboard/Quotes" class=" waves-effect">
                                    <i class="uil-google-hangouts-alt"></i>
                                    <span>Özlü Sözler</span>
                                </a>
                            </li>

                        </ul>
                    </div>
                    <!-- Sidebar -->
                </div>
            </div>
            <!-- Left Sidebar End -->

            

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">

                        @RenderBody()

                    </div> <!-- container-fluid -->
                </div>
                <!-- End Page-content -->


                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6">
                                <script>document.write(new Date().getFullYear())</script> © Kağan Kuşcu.
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
            <!-- end main content-->

        </div>
        <!-- END layout-wrapper -->

        <!-- Right bar overlay-->
        <div class="rightbar-overlay"></div>

        <!-- JAVASCRIPT -->
        <script src="~/admin/libs/jquery/jquery.min.js"></script>
        <script src="~/admin/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="~/admin/libs/metismenu/metisMenu.min.js"></script>
        <script src="~/admin/libs/simplebar/simplebar.min.js"></script>
        <script src="~/admin/libs/node-waves/waves.min.js"></script>
        <script src="~/admin/libs/waypoints/lib/jquery.waypoints.min.js"></script>
        <script src="~/admin/libs/jquery.counterup/jquery.counterup.min.js"></script>

        <!-- sweetalert -->
        <script src="~/admin/libs/sweetalert2/sweetalert2.all.min.js"></script>

        <!-- apexcharts -->
        <script src="~/admin/libs/apexcharts/apexcharts.min.js"></script>

        <script src="~/admin/js/pages/dashboard.init.js"></script>

        <!-- App js -->
        <script src="~/admin/js/app.js"></script>

        <!-- Dark Mode js -->
        <script type="text/javascript" src="~/js/darkmode.js"></script>

        <!-- Required datatable js -->
        <script src="~/admin/libs/datatables.net/js/jquery.dataTables.min.js"></script>
        <script src="~/admin/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
        <!-- Buttons examples -->
        <script src="~/admin/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
        <script src="~/admin/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
        <script src="~/admin/libs/jszip/jszip.min.js"></script>
        <script src="~/admin/libs/pdfmake/build/pdfmake.min.js"></script>
        <script src="~/admin/libs/pdfmake/build/vfs_fonts.js"></script>
        <script src="~/admin/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
        <script src="~/admin/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
        <script src="~/admin/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>
        
        <!-- Responsive examples -->
        <script src="~/admin/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
        <script src="~/admin/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

        <!-- form mask -->
        <script src="~/admin/libs/inputmask/min/jquery.inputmask.bundle.min.js"></script>

        <!-- form mask init -->
        <script src="~/admin/js/pages/form-mask.init.js"></script>

        <!-- Parsley js -->
        <script src="~/admin/libs/parsley/parsley.min.js"></script>
        <script src="~/admin/libs/parsley/i18n/tr.js"></script>

        <!-- Moment js -->
        <script src="~/admin/libs/moment/moment.js"></script>
        
        @await RenderSectionAsync("Scripts", false)
    </body>

</html>