<!doctype html>
<html lang="en">

    <head>
        <title></title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
        <meta content="Themesbrand" name="author" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="~/img/favicon.png">

        <!-- Bootstrap Css -->
        <link href="~/admin/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link href="~/admin/css/icons.min.css" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="~/admin/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />

    </head>
    <body class="authentication-bg">
        <div class="account-pages my-5 pt-sm-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <div class="mb-5 d-block auth-logo">
                                <img src="~/admin/images/logo-dark.png" alt="" height="22" class="logo logo-dark">
                                <img src="~/admin/images/logo-light.png" alt="" height="22" class="logo logo-light">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-5">
                        <div class="card">
                            @RenderBody()
                        </div>

                        <div class="mt-5 text-center">
                            <p>© <script>document.write(new Date().getFullYear())</script> Crafted with by Kagan Kuscu</p>
                        </div>

                    </div>
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>

        <!-- JAVASCRIPT -->
        <script src="~/admin/libs/jquery/jquery.min.js"></script>
        <script src="~/admin/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="~/admin/libs/metismenu/metisMenu.min.js"></script>
        <script src="~/admin/libs/simplebar/simplebar.min.js"></script>
        <script src="~/admin/libs/node-waves/waves.min.js"></script>
        <script src="~/admin/libs/waypoints/lib/jquery.waypoints.min.js"></script>
        <script src="~/admin/libs/jquery.counterup/jquery.counterup.min.js"></script>

        <!-- App js -->
        <!-- <script src="assets/js/app.js"></script> -->

        <!-- Dark Mode js -->
        <script type="text/javascript" src="~/js/darkmode.js"></script>
        @await RenderSectionAsync("Scripts", false)

    </body>
</html>