@{
    Layout = "_LoginLayout";
}
<div class="card-body p-4">
    <div class="text-center mt-2">
        <h5 class="text-primary">Welcome Back !</h5>
    </div>
    <div class="p-2 mt-4">
        <form id="frm">

            <div class="mb-3">
                <label class="form-label" for="txtUsername">Username</label>
                <input type="text" class="form-control" id="txtUsername" placeholder="Enter username" required>
            </div>

            <div class="mb-3">
                <div class="float-end">
                    <a href="auth-recoverpw.html" class="text-muted">Forgot password?</a>
                </div>
                <label class="form-label" for="txtPassword">Password</label>
                <input type="password" class="form-control" id="txtPassword" placeholder="Enter password" required>
            </div>

            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="chkRememberMe">
                <label class="form-check-label" for="chkRememberMe">Remember me</label>
            </div>

            <div class="mt-3 text-end">
                <button id="btnLogin" class="btn btn-primary w-sm waves-effect waves-light" type="button">Log In</button>
            </div>

            <div class="mt-4 text-center">
                <p class="mb-0">Don't have an account ? <a href="/Admin/Authentication/Register" class="fw-medium text-primary"> Signup now </a> </p>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(() => {
            $('title').text('Login');
            $('#btnLogin').off().click(login);
        });

        async function login() {
            if (!checkValidateForm())
                return ;
            const user = {
                username: $('#txtUsername').val(),
                password: $('#txtPassword').val(),
                rememberMe: $('#chkRememberMe').prop('checked')
            };
            const res = await $.ajax({
                type: 'POST',
                contentType: 'application/json',
                url: '/Admin/Authentication/Login',
                data: JSON.stringify(user)
            });
            if (!res) {
                SwalAlert.fire();
                return ;
            }
            location.href = '/Admin/Dashboard/Index';
        }

        function checkValidateForm()
        {
          if ($("#frm").parsley().isValid() === false)
          {
            $("#frm").parsley().validate();
            $("#frm").addClass("was-validated");
            return false;
          }
          return true;
        }

    </script>
}