@{
    Layout = "_LoginLayout";
}
@model UserForAuthentication
<div class="card-body p-4">
    <div class="text-center mt-2">
        <h5 class="text-primary">Welcome Back !</h5>
    </div>
    <div class="p-2 mt-4">
        <form action="Login" method="POST">

            <div class="mb-3">
                <label class="form-label" for="username">Username</label>
                <input type="text" class="form-control" asp-for="Username" placeholder="Enter username">
            </div>

            <div class="mb-3">
                <div class="float-end">
                    <a href="auth-recoverpw.html" class="text-muted">Forgot password?</a>
                </div>
                <label class="form-label" for="userpassword">Password</label>
                <input type="password" class="form-control" asp-for="Password" placeholder="Enter password">
            </div>

            <div class="form-check">
                <input type="checkbox" class="form-check-input" asp-for="RememberMe">
                <label class="form-check-label" for="auth-remember-check">Remember me</label>
            </div>

            <div class="mt-3 text-end">
                <button class="btn btn-primary w-sm waves-effect waves-light" type="submit">Log In</button>
            </div>

            <div class="mt-4 text-center">
                <p class="mb-0">Don't have an account ? <a href="/Admin/Authentication/Register" class="fw-medium text-primary"> Signup now </a> </p>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(() => {
            $('title').text('Login');
        })
    </script>
}