@{
    Layout = "_LoginLayout";
}

<div class="card-body p-4">
    <div class="text-center mt-2">
        <h5 class="text-primary">Reset Password</h5>
    </div>
    <div class="p-2 mt-4">
        <div id="alertSuccess" class="alert alert-success text-center mb-4 d-none" role="alert">
            The password has been successfully changed.
        </div>
        <div id="alertDanger" class="alert alert-danger text-center mb-4 d-none" role="alert">
        </div>
        <form id="frm">

            <div class="mb-3">
                <label class="form-label" for="txtPassword">Password</label>
                <input type="password" class="form-control" id="txtPassword" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*\W).{6,}$" placeholder="Enter password" required
                    data-parsley-pattern-message="Password must be at least 6 characters long and include at least one uppercase letter, one lowercase letter, one digit, and one special character.">
            </div>

            <div class="mb-3">
                <label class="form-label" for="txtPassword">Confirm Password</label>
                <input type="password" class="form-control" id="txtConfirmPassword" placeholder="Enter Confirm Password" data-parsley-equalto="#txtPassword" required>
            </div>
            <div class="mt-3 text-end">
                <button id="btnSend" class="btn btn-primary w-sm waves-effect waves-light" type="button">Reset</button>
            </div>


            <div class="mt-4 text-center">
                <p class="mb-0">Remember It ? <a href="/Admin/Authentication/Login" class="fw-medium text-primary"> Signin </a></p>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(() => {
            $('#btnSend').off().click(send);
        });

        async function send() {
            if (!checkValidateForm())
                return ;

            const data = {
                password: $('#txtPassword').val(),
                confirmPassword: $('#txtConfirmPassword').val(),
                email: getSearchQuery('email'),
                token: getSearchQuery('token')
            };

            const res = await $.ajax({
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(data),
                url: '/Admin/Authentication/Reset'
            });

            if (!res.succeeded) {
                $('#alertDanger').text(res[0].description);
                return ;
            }

            $('#alertSuccess').removeClass('d-none');
            navigateToLogin();
        }

        function navigateToLogin() {
            setTimeout(() => {
                location.href = '/Admin/Authentication/Login';
            }, 3000);
        }

        function getSearchQuery(id) {
            const params = new URLSearchParams(document.location.search);
            return params.get(id);
        }

        function checkValidateForm()
        {
          if ($("#frm").parsley().isValid() === false)
          {
            $("#frm").parsley().validate();
            $("#frm").addClass("was-validated");
            return false;
          }
          return true;
        }
    </script>
}