@model string
@{
    ViewData["username"] = Model;
}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-md-6">
                        <h1>People</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <a href="javascript:void(0);" class="btn btn-success waves-effect waves-light"><i class="mdi mdi-plus me-2"></i> Add New</a>
                        </div>
                    </div>
                </div>
                <!-- end row -->
                
                <div class="row">
                    <table id="datatable" class="table table-centered table-nowrap mb-0">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Title</th>
                                <th scope="col">Email</th>
                                <th scope="col" style="width: 200px;">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts 
{
    <!-- Required datatable js -->
    <script src="~/admin/libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/admin/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <!-- Buttons examples -->
    <script src="~/admin/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/admin/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
    <script src="~/admin/libs/jszip/jszip.min.js"></script>
    <script src="~/admin/libs/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/admin/libs/pdfmake/build/vfs_fonts.js"></script>
    <script src="~/admin/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/admin/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/admin/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>
    
    <!-- Responsive examples -->
    <script src="~/admin/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/admin/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
    
    <script>
        $(document).ready(() => 
        {
            $("#datatable").DataTable(
                {
                    paging: false,
                    pageLenght: 50,
                    ajax: "/Admin/User/GetAll",
                    columns: 
                    [
                        { data: "name" },
                        { data: "title" },
                        { data: "email" },
                        { data: "guid" },
                    ]
                }
            );
        });
    </script>
}