<div class="blog">
    <div class="blog-grid">
        <div class="grid-sizer"></div>
        <div class="grid-item">
            <article class="post-box animate-up">
                <div class="post-media">
                    <div class="post-image">
                        <a asp-controller="Blog" asp-action="Details" asp-route-guid="@Model"><img src="img/uploads/thumb-449x286-1.jpg" alt=""> </a>
                    </div>
                </div>

                <div class="post-data">
                    <time class="post-datetime" datetime="2015-03-13T07:44:01+00:00">
                        <span class="day">03</span>
                        <span class="month">MAY</span>
                    </time>

                    <div class="post-tag">
                        <a href="">#Photo</a>
                        <a href="">#Architect</a>
                    </div>

                    <h3 class="post-title">
                        <a href="single-image.html">Image Post</a>
                    </h3>

                    <div class="post-info">
                        <a href=""><i class="rsicon rsicon-user"></i>by admin</a>
                        <a href=""><i class="rsicon rsicon-comments"></i>56</a>
                    </div>
                </div>
            </article>
        </div>

        <div class="grid-item">
            <article class="post-box animate-up">
                <div class="post-media ">
                    <ul class="post-slider">
                        <li><a href="single-slider.html"><img src="img/uploads/thumb-449x286-2.jpg" alt=""/></a></li>
                        <li><a href="single-slider.html"><img src="img/uploads/thumb-449x286-3.jpg" alt=""/></a></li>
                        <li><a href="single-slider.html"><img src="img/uploads/thumb-449x286-4.jpg" alt=""/></a></li>
                    </ul>
                    <div class="post-slider-arrows">
                        <div class="slider-prev"></div>
                        <div class="slider-next"></div>
                    </div>
                </div>

                <div class="post-data">
                    <time class="post-datetime" datetime="2015-03-13T07:44:01+00:00">
                        <span class="day">03</span>
                        <span class="month">MAY</span>
                    </time>

                    <div class="post-tag">
                        <a href="">#Photo</a>
                        <a href="">#Architect</a>
                    </div>

                    <h3 class="post-title">
                        <a href="single-slider.html">Slider Post</a>
                    </h3>

                    <div class="post-info">
                        <a href=""><i class="rsicon rsicon-user"></i>by admin</a>
                        <a href=""><i class="rsicon rsicon-comments"></i>56</a>
                    </div>
                </div>
            </article>
        </div>
    
        <div class="grid-item">
            <article class="post-box animate-up">
                <div class="post-media">
                    <div class="post-image">
                        <a href="single-video.html">
                            <img src="img/uploads/thumb-449x286-3.jpg" alt="">
                            <span class="post-type-icon"><i class="rsicon rsicon-play"></i></span>
                        </a>
                    </div>
                </div>

                <div class="post-data">
                    <time class="post-datetime" datetime="2015-03-13T07:44:01+00:00">
                        <span class="day">03</span>
                        <span class="month">MAY</span>
                    </time>

                    <div class="post-tag">
                        <a href="">#Photo</a>
                        <a href="">#Architect</a>
                    </div>

                    <h3 class="post-title">
                        <a href="single-video.html">Custom Video Post</a>
                    </h3>

                    <div class="post-info">
                        <a href=""><i class="rsicon rsicon-user"></i>by admin</a>
                        <a href=""><i class="rsicon rsicon-comments"></i>56</a>
                    </div>
                </div>
            </article>
        </div>

        <div class="grid-item">
            <article class="post-box animate-up">
                <div class="post-media">
                    <div class="post-image">
                        <a href="single-audio.html">
                            <img src="img/uploads/thumb-449x286-4.jpg" alt="">
                            <span class="post-type-icon"><i class="rsicon rsicon-audio"></i></span>
                        </a>
                    </div>
                </div>

                <div class="post-data">
                    <time class="post-datetime" datetime="2015-03-13T07:44:01+00:00">
                        <span class="day">03</span>
                        <span class="month">MAY</span>
                    </time>

                    <div class="post-tag">
                        <a href="">#Photo</a>
                        <a href="">#Architect</a>
                    </div>

                    <h3 class="post-title">
                        <a href="single-audio.html">Audio Post</a>
                    </h3>

                    <div class="post-info">
                        <a href=""><i class="rsicon rsicon-user"></i>by admin</a>
                        <a href=""><i class="rsicon rsicon-comments"></i>56</a>
                    </div>
                </div>
            </article>
        </div>

        <div class="grid-item">
            <article class="post-box animate-up">
                <div class="post-media">
                    <div class="post-image">
                        <a href="single-vimeo.html">
                            <img src="img/uploads/thumb-449x286-5.jpg" alt="">
                            <span class="post-type-icon"><i class="rsicon rsicon-play"></i></span>
                        </a>
                    </div>
                </div>

                <div class="post-data">
                    <time class="post-datetime" datetime="2015-03-13T07:44:01+00:00">
                        <span class="day">03</span>
                        <span class="month">MAY</span>
                    </time>

                    <div class="post-tag">
                        <a href="">#Photo</a>
                        <a href="">#Architect</a>
                    </div>

                    <h3 class="post-title">
                        <a href="single-vimeo.html">Vimeo Video Post</a>
                    </h3>

                    <div class="post-info">
                        <a href=""><i class="rsicon rsicon-user"></i>by admin</a>
                        <a href=""><i class="rsicon rsicon-comments"></i>56</a>
                    </div>
                </div>
            </article>
        </div>

        <div class="grid-item">
            <article class="post-box animate-up">
                <div class="post-media">
                    <div class="post-image">
                        <a href="single-youtube.html">
                            <img src="img/uploads/thumb-449x286-6.jpg" alt="">
                            <span class="post-type-icon"><i class="rsicon rsicon-play"></i></span>
                        </a>
                    </div>
                </div>

                <div class="post-data">
                    <time class="post-datetime" datetime="2015-03-13T07:44:01+00:00">
                        <span class="day">03</span>
                        <span class="month">MAY</span>
                    </time>

                    <div class="post-tag">
                        <a href="">#Photo</a>
                        <a href="">#Architect</a>
                    </div>

                    <h3 class="post-title">
                        <a href="single-youtube.html">Youtube Video Post</a>
                    </h3>

                    <div class="post-info">
                        <a href=""><i class="rsicon rsicon-user"></i>by admin</a>
                        <a href=""><i class="rsicon rsicon-comments"></i>56</a>
                    </div>
                </div>
            </article>
        </div>
    
        <div class="grid-item">
            <article class="post-box  animate-up">
                <div class="post-media">
                    <div class="post-image">
                        <a href="single-image.html">
                            <img src="img/uploads/thumb-449x286-7.jpg" alt="">
                        </a>
                    </div>
                </div>

                <div class="post-data">
                    <time class="post-datetime" datetime="2015-03-13T07:44:01+00:00">
                        <span class="day">03</span>
                        <span class="month">MAY</span>
                    </time>

                    <div class="post-tag">
                        <a href="">#Photo</a>
                        <a href="">#Architect</a>
                    </div>

                    <h3 class="post-title">
                        <a href="single-image.html">Image Post</a>
                    </h3>

                    <div class="post-info">
                        <a href=""><i class="rsicon rsicon-user"></i>by admin</a>
                        <a href=""><i class="rsicon rsicon-comments"></i>56</a>
                    </div>
                </div>
            </article>
        </div>

        <div class="grid-item">
            <article class="post-box  animate-up">
                <div class="post-media">
                    <div class="post-image">
                        <a href="single-dailymotion.html">
                            <img src="img/uploads/thumb-449x286-8.jpg" alt="">
                            <span class="post-type-icon"><i class="rsicon rsicon-play"></i></span>
                        </a>
                    </div>
                </div>

                <div class="post-data">
                    <time class="post-datetime" datetime="2015-03-13T07:44:01+00:00">
                        <span class="day">03</span>
                        <span class="month">MAY</span>
                    </time>

                    <div class="post-tag">
                        <a href="">#Photo</a>
                        <a href="">#Architect</a>
                    </div>

                    <h3 class="post-title">
                        <a href="single-dailymotion.html">Dailymotion Video Post</a>
                    </h3>

                    <div class="post-info">
                        <a href=""><i class="rsicon rsicon-user"></i>by admin</a>
                        <a href=""><i class="rsicon rsicon-comments"></i>56</a>
                    </div>
                </div>
            </article>
        </div>
    
        <div class="grid-item">
            <article class="post-box  animate-up">
                <div class="post-media no-media"></div>

                <div class="post-data">
                    <time class="post-datetime" datetime="2015-03-13T07:44:01+00:00">
                        <span class="day">03</span>
                        <span class="month">MAY</span>
                    </time>

                    <div class="post-tag">
                        <a href="">#Photo</a>
                        <a href="">#Architect</a>
                    </div>

                    <h3 class="post-title">
                        <a href="single.html">Post Without Media</a>
                    </h3>

                    <div class="post-info">
                        <a href=""><i class="rsicon rsicon-user"></i>by admin</a>
                        <a href=""><i class="rsicon rsicon-comments"></i>56</a>
                    </div>
                </div>
            </article>
        </div>

        <div class="grid-item">
            <article class="post-box animate-up">
                <div class="post-media no-media"></div>

                <div class="post-data">
                    <time class="post-datetime" datetime="2015-03-13T07:44:01+00:00">
                        <span class="day">03</span>
                        <span class="month">MAY</span>
                    </time>

                    <div class="post-tag">
                        <a href="">#Photo</a>
                        <a href="">#Architect</a>
                    </div>

                    <h3 class="post-title">
                        <a href="single.html">Post Without Media</a>
                    </h3>

                    <div class="post-info">
                        <a href=""><i class="rsicon rsicon-user"></i>by admin</a>
                        <a href=""><i class="rsicon rsicon-comments"></i>56</a>
                    </div>
                </div>
            </article>
        </div><!-- .col-xs-6 -->
    </div><!-- .blog-grid -->

    <div class="pagination">
        <a class="next page-numbers" href=""><i class="rsicon rsicon-chevron_left"></i></a>
        <span class="page-numbers current">1</span>
        <a class="page-numbers" href="">2</a>
        <a class="page-numbers" href="">3</a>
        <span>...</span>
        <a class="page-numbers" href="">22</a>
        <a class="next page-numbers" href=""><i class="rsicon rsicon-chevron_right"></i></a>
    </div><!-- .pagination -->
</div><!-- .blog -->	
<!-- END: PAGE CONTENT -->