
<!DOCTYPE html>
<html lang="en" class="theme-color-56c8d2 theme-skin-light">
<head>
<!--
     __  __     ______     ______     ______     __   __
    /\ \/ /    /\  __ \   /\  ___\   /\  __ \   /\ "-.\ \
    \ \  _"-.  \ \  __ \  \ \ \__ \  \ \  __ \  \ \ \-.  \
     \ \_\ \_\  \ \_\ \_\  \ \_____\  \ \_\ \_\  \ \_\\"\_\
      \/_/\/_/   \/_/\/_/   \/_____/   \/_/\/_/   \/_/ \/_/

    __  __     __  __     ______     ______     __  __
   /\ \/ /    /\ \/\ \   /\  ___\   /\  ___\   /\ \/\ \
   \ \  _"-.  \ \ \_\ \  \ \___  \  \ \ \____  \ \ \_\ \
    \ \_\ \_\  \ \_____\  \/\_____\  \ \_____\  \ \_____\
     \/_/\/_/   \/_____/   \/_____/   \/_____/   \/_____/

        
        Cretead with python pyfiglet library.

        -->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Kağan Kuşcu</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/ico" href="img/favicon.png"/>

    <!-- Google Fonts -->
    @* <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Fredoka+One"> *@
    <link href="https://fonts.googleapis.com/css2?family=Alike&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic">

    <!-- Icon Fonts -->
    <link rel="stylesheet" type="text/css" href="~/fonts/map-icons/css/map-icons.min.css">
    <link rel="stylesheet" type="text/css" href="~/fonts/icomoon/style.css">

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="~/js/plugins/jquery.bxslider/jquery.bxslider.css">
    <link rel="stylesheet" type="text/css" href="~/js/plugins/jquery.customscroll/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" type="text/css" href="~/js/plugins/jquery.mediaelement/mediaelementplayer.min.css">
    <link rel="stylesheet" type="text/css" href="~/js/plugins/jquery.fancybox/jquery.fancybox.css">
    <link rel="stylesheet" type="text/css" href="~/js/plugins/jquery.owlcarousel/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="~/js/plugins/jquery.owlcarousel/owl.theme.css">
    <link rel="stylesheet" type="text/css" href="~/style.css">
    <link rel="stylesheet" type="text/css" href="~/colors/turquoise.css">
    @await RenderSectionAsync("Styles", required: false)
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Modernizer for detect what features the user’s browser has to offer -->
    <script type="text/javascript" src="js/libs/modernizr.js"></script>
</head>

<body class="home header-has-img loading">

    <div class="mobile-nav">
        <button class="btn-mobile mobile-nav-close"><i class="rsicon rsicon-close"></i></button>
    
        <div class="mobile-nav-inner">
            <nav id="mobile-nav" class="nav">
                <ul class="clearfix">
                    <li><a href="/Home/Index#about">About</a></li>
                    <li><a href="/Home/Index#skills">Skills</a></li>
                    <li><a href="/Home/Index#experience">Experience</a></li>
                    <li><a href="/Home/Index#references">References</a></li>
                    <li>
                        <a asp-controller="Blog" asp-action="Index">Blog</a>
                    </li>
                    <li><a href="/Home/Index#contact">Contact <span></span></a></li>
                    <li><a href="/Authentication/Index">Panel</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- .mobile-nav -->
    
    <div class="sidebar sidebar-fixed">
        <button class="btn-sidebar btn-sidebar-close"><i class="rsicon rsicon-close"></i></button>
    
        <div class="widget-area">
            <aside class="widget widget-profile">
                <div class="profile-photo">
                    <img src="img/uploads/rs-photo-v2.jpg" alt="Robert Smith"/>
                </div>
                <div class="profile-info">
                    <h2 class="profile-title">Robert Smith</h2>
    
                    <h3 class="profile-position">Developer and Startup entrepreneur</h3>
                </div>
            </aside>
            <!-- .widget-profile -->
    
            <aside class="widget widget_search">
                <h2 class="widget-title">Search</h2>
    
                <form class="search-form">
                    <label class="ripple">
                        <span class="screen-reader-text">Search for:</span>
                        <input class="search-field" type="search" placeholder="Search">
                    </label>
                    <input type="submit" class="search-submit" value="Search">
                </form>
            </aside>
            <!-- .widget_search -->
    
            <aside class="widget widget_contact">
                <h2 class="widget-title">Contact Me</h2>
    
                <form class="rsForm" action="php/mailsender.php" method="post">
                    <div class="input-field">
                        <label>Name</label>
                        <input type="text" name="rsName" value="">
                        <span class="line"></span>
                    </div>
    
                    <div class="input-field">
                        <label>Email</label>
                        <input type="email" name="rsEmail" value="">
                        <span class="line"></span>
                    </div>
    
                    <div class="input-field">
                        <label>Subject</label>
                        <input type="text" name="rsSubject" value="">
                        <span class="line"></span>
                    </div>
    
                    <div class="input-field">
                        <label>Message</label>
                        <textarea rows="4" name="rsMessage"></textarea>
                        <span class="line"></span>
                    </div>
					
					<div class="check-field">
						<input type="checkbox" name="rsPivacyPolicy" id="rsPivacyPolicyWidget">
						<label for="rsPivacyPolicy">I have read the Privacy Policy note.</label>
					</div>
    
                    <span class="btn-outer btn-primary-outer ripple">
                        <input class="rsFormSubmit btn btn-lg btn-primary" type="submit" value="Send">
                    </span>
                </form>
            </aside>
            <!-- .widget_contact -->
    
            <aside class="widget widget-popuplar-posts">
                <h2 class="widget-title">Popular posts</h2>
                <ul>
                    <li>
                        <div class="post-media"><a href=""><img src="img/uploads/thumb-78x56-1.jpg" alt=""/></a></div>
                        <h3 class="post-title"><a href="">Standard Post Format With Featured Image</a></h3>
    
                        <div class="post-info"><a href=""><i class="rsicon rsicon-comments"></i>56 comments</a></div>
                    </li>
                    <li>
                        <div class="post-media"><a href=""><img src="img/uploads/thumb-78x56-2.jpg" alt=""/></a></div>
                        <h3 class="post-title"><a href="">Standard Post Format With Featured Image</a></h3>
    
                        <div class="post-info"><a href=""><i class="rsicon rsicon-comments"></i>56 comments</a></div>
                    </li>
                    <li>
                        <div class="post-media"><a href=""><img src="img/uploads/thumb-78x56-3.jpg" alt=""/></a></div>
                        <h3 class="post-title"><a href="">Standard Post Format With Featured Image</a></h3>
    
                        <div class="post-info"><a href=""><i class="rsicon rsicon-comments"></i>56 comments</a></div>
                    </li>
                </ul>
            </aside>
            <!-- .widget-popuplar-posts -->
    
            <aside class="widget widget_tag_cloud">
                <h2 class="widget-title">Tag Cloud</h2>
    
                <div class="tagcloud">
                    <a href="" title="1 topic">Business</a>
                    <a href="" title="9 topics">City</a>
                    <a href="" title="10 topics">Creative</a>
                    <a href="" title="6 topics">Fashion</a>
                    <a href="" title="2 topics">Music</a>
                    <a href="" title="5 topics">News</a>
                    <a href="" title="9 topics">Peoples</a>
                </div>
            </aside>
            <!-- .widget_tag_cloud -->
    
            <aside class="widget widget-recent-posts">
                <h2 class="widget-title">Recent posts</h2>
                <ul>
                    <li>
                        <div class="post-tag">
                            <a href="">#Photo</a>
                            <a href="">#Architect</a>
                        </div>
                        <h3 class="post-title"><a href="">Standard Post Format With Featured Image</a></h3>
    
                        <div class="post-info"><a href=""><i class="rsicon rsicon-comments"></i>56 comments</a></div>
                    </li>
                    <li>
                        <div class="post-tag">
                            <a href="">#Photo</a>
                            <a href="">#Architect</a>
                        </div>
                        <h3 class="post-title"><a href="">Standard Post Format With Featured Image</a></h3>
    
                        <div class="post-info"><a href=""><i class="rsicon rsicon-comments"></i>56 comments</a></div>
                    </li>
                    <li>
                        <div class="post-tag">
                            <a href="">#Photo</a>
                            <a href="">#Architect</a>
                        </div>
                        <h3 class="post-title"><a href="">Standard Post Format With Featured Image</a></h3>
    
                        <div class="post-info"><a href=""><i class="rsicon rsicon-comments"></i>56 comments</a></div>
                    </li>
                </ul>
            </aside>
            <!-- .widget-recent-posts -->
    
            <aside class="widget widget_categories">
                <h2 class="widget-title">Categories</h2>
                <ul>
                    <li><a href="" title="Architecture Category Posts">Architecture</a> (9)</li>
                    <li><a href="" title="Business Category Posts">Business</a> (16)</li>
                    <li><a href="" title="Creative Category Posts">Creative</a> (18)</li>
                    <li><a href="" title="Design Category Posts">Design</a> (10)</li>
                    <li><a href="" title="Development Category Posts">Development</a> (14)</li>
                    <li><a href="" title="Education Category Posts">Education</a> (9)</li>
                </ul>
            </aside>
            <!-- .widget_categories -->
        </div>
        <!-- .widget-area -->
    </div>
    <!-- .sidebar -->

    <div class="wrapper">
        <header class="header">
            <div class="head-bg" style="background-image: url('img/uploads/rs-cover.jpg')"></div>
        
            <div class="head-bar">
                <div class="head-bar-inner">
                    <div class="row">
                        <div class="col-sm-3 col-xs-6">
                            <a class="logo" href="index.html"><span>Kağan</span>Kuşcu</a>
                            <!-- <a class="head-logo" href=""><img src="img/rs-logo.png" alt="RScard"/></a> -->
                        </div>
        
                        <div class="col-sm-9 col-xs-6">
                            <div class="nav-wrap">
                                <nav id="nav" class="nav">
                                    <ul class="clearfix">
                                        <li><a href="/Home/Index#about">About</a></li>
                                        <li><a href="/Home/Index#skills">Skills</a></li>
                                        <li><a href="/Home/Index#experience">Experience</a></li>
                                        <li><a href="/Home/Index#references">References</a></li>
                                        <li>
                                            <a asp-controller="Blog" asp-action="Index">Blog</a>
                                        </li>
                                        <li><a href="/Home/Index#contact">Contact <span></span></a></li>
                                        <li><a href="/Admin/Dashboard/Index">Panel</a></li>
                                    </ul>
                                </nav>
        
                                <button class="btn-mobile btn-mobile-nav">Menu</button>
                                <button class="btn-sidebar btn-sidebar-open"><i class="rsicon rsicon-menu"></i></button>
                            </div>
                            <!-- .nav-wrap -->
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- .header -->
        
        <div class="content">
            <div class="container">
            @RenderBody()
            </div>
        <!-- .container -->
        </div>
    <!-- .content -->
    
    <footer class="footer">
        <div class="footer-social">
            <ul class="social">
                <li><a class="ripple-centered" href="" target="_blank"><i class="rsicon rsicon-facebook"></i></a></li>
                <li><a class="ripple-centered" href="" target="_blank"><i class="rsicon rsicon-twitter"></i></a></li>
                <li><a class="ripple-centered" href="" target="_blank"><i class="rsicon rsicon-linkedin"></i></a></li>
                <li><a class="ripple-centered" href="" target="_blank"><i class="rsicon rsicon-instagram"></i></a></li>
            </ul>
        </div>
    </footer>
    <!-- .footer -->
	
    </div>
    <!-- .wrapper -->
    
    <a class="btn-scroll-top" href="#"><i class="rsicon rsicon-arrow-up"></i></a>
    
    <div id="overlay"></div>
    <div id="preloader">
        <div class="preload-icon"><span></span><span></span></div>
        <div class="preload-text">Loading ...</div>
    </div>
    
    <!-- Scripts -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
    <script type="text/javascript" src="~/fonts/map-icons/js/map-icons.min.js"></script>
    <script type="text/javascript" src="~/js/plugins/jquery.mousewheel-3.0.6.pack.js"></script>
    <script type="text/javascript" src="~/js/plugins/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript" src="~/js/plugins/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="~/js/plugins/jquery.appear.min.js"></script>
    <script type="text/javascript" src="~/js/plugins/jquery.onepagenav.min.js"></script>
    <script type="text/javascript" src="~/js/plugins/jquery.bxslider/jquery.bxslider.min.js"></script>
    <script type="text/javascript" src="~/js/plugins/jquery.customscroll/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript" src="~/js/plugins/jquery.mediaelement/mediaelement-and-player.min.js"></script>
    <script type="text/javascript" src="~/js/plugins/jquery.fancybox/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="~/js/plugins/jquery.fancybox/helpers/jquery.fancybox-media.js"></script>
    <script type="text/javascript" src="~/js/plugins/jquery.owlcarousel/owl.carousel.min.js"></script>
	<script type="text/javascript" src="~/js/options.js"></script>
    <script type="text/javascript" src="~/js/site.js"></script>
    <script type="text/javascript" src="~/js/darkmode.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>